- title "Listing dossiers"

- if @dossiers.any?
  %table.table.table-condensed
    %tr
      %th Identification
      %th Date décès
      %th Département
      %th
    = render @dossiers
- else
  Aucun dossier
