body
  padding-top: 40px
  background-color: #eee !important

/* Header */
.content
  padding: 15px 0
  background-color: whiteSmoke

/* Page Header */
.page-header
  position: relative
  overflow: hidden
  margin: 0 20px
  border: 0

.alert
  position: absolute
  top: 0
  right: 0

.form-inline
  .checkbox
    margin-bottom: 0
    vertical-align: middle
  input[type=submit]
    margin-left: 10px
  right: 0

.modal
  width: 700px
  min-height: 300px
  margin: 0
  position: fixed
  top: 15%
  left: 5%
  .row
    margin: 5px 0
    margin-left: -10px
  .modal-body
    padding: 10px
    .libelle
      font-weight: bold
      &:after
        content: " : "
    .right
      text-align: right
