@import 'bootstrap'

body
  padding-top: 40px
  background-color: #eee !important

/* Header */
.content
  padding: 20px 0 !important
  background-color: whiteSmoke

/* Page Header */
.page-header
  overflow: hidden
  padding: 0 20px 5px
