@import 'bootstrap'

body
  padding-top: 40px
  background-color: #eee !important

/* Header */
.content
  padding: 20px 0 !important
  background-color: whiteSmoke

/* Page Header */
.page-header
  overflow: hidden
  padding: 0 20px 5px

table.table-striped
  font-size: 11px
  background-color: white
  tr:nth-child(odd)
    td
      background-color: white

  tr:nth-child(even)
    td
      background-color: #eee

  td, th
    padding: 5px 5px 4px
    text-align: center

  th
    border: 1px solid #666666
    padding: 0

  td
    vertical-align: middle
